.fs-40{
	font-size: 40px !important;
}
header .navbar-brand img, footer .footer-logo img {
    max-height: 73px !important;
}
.scroll-progress{
    top: 80% !important;
}
.ls-minus-3px {
    letter-spacing: 2px !important;
}
.navbar .navbar-nav .simple-dropdown .dropdown-menu{
    width: 760px !important;
}
.hover_img {
    position:relative;
    height: 100%;
    width:100%;
    z-index: 99;
}
.fs-33{
	font-size: 33px !important;
}
.lh-26{
	line-height: 2.6rem!important;
}
.mt-62.mb-92 {
	margin-top: 62px !important;
	margin-bottom: 92px !important;
}
.hover_img img {
    position: fixed;
    top: 32%;
    left: 86%;
    transform: translate(-50%, -50%);
    display:none;
    width: 200px;
    height: 150px;
}
.navbar .navbar-nav .simple-dropdown .service-menu{
    width: 245px !important;
}
.interactive-banner-style-08 figure{
    height: 320px !important;
}
.product-grid img{
    height: 225px !important;
}
.scrolled .hover_img img{
	top: 245% !important;
}






/* Value Slider */
.values-slider .value{
	box-sizing: border-box;
	background: #fff;
	background-size: 100%;
	text-align: center;
	margin: 0 auto;
	/* padding: 45px; */
	color: #666;
	/* max-width: 350px; */
	min-height: 230px;
}

.values-slider .value .head {}

.values-slider .value .head h3{
	display: inline-block;
	font: bold 24px 'open sans';
	position: relative;
	/* top: -20px; */
}

.values-slider .value .head .line{
	display: inline-block;
	width: 40px;
	height: 1px;
	background: #eacfb1;
	margin: 0 15px;
	position: relative;
	top: -25px;
}



.values-slider .value .head .value-icon svg{
	width: 100%;
	height: auto;
}

.values-slider .value .value-text{
	font: 12px quicksand;
	line-height: 20px;
	margin-top: 10px;
}

.values-slider .owl-item .item {
	filter: blur(3px);
	transform: scale(.75);
	transition: all .5s;
}

.values-slider .owl-item.active.center .item{
	filter: blur(0);
	transform: scale(1);
	transition: all .5s;
}

.values-slider .owl-nav {
	position: absolute;
	top: 35%;
	width: 100%;
}


.values-slider .owl-nav .owl-prev {
	float: left;
}

.values-slider .owl-nav .owl-prev span, .values-slider .owl-nav .owl-next span{
	color: #666;
	font-size: 48px;
	border-radius: 100%;
	width: 65px;
	height: 65px;
	line-height: 65px;
	text-align: center;
}

.values-slider .owl-nav .owl-next {
	float: right;
}


header .navbar-brand img{
	max-height: 100px !important;
}
footer .footer-logo img {
    max-height: 80px !important;
}
.scroll-logo {
    display: none !important;
}

.scrolled .default-logo {
    display: none !important;
}

.navbar-brand img {
    transition: opacity 0.3s ease;
}


.navbar {
	position: fixed !important;
	width: 100% !important;
	top: 0 !important;
	left: 0 !important;
	z-index: 1000 !important;
	transition:background-color 0.3s ease, box-shadow 0.3s ease !important; /* Smooth transition */
}
.navbar.scrolled {
	background-color: #ffffff !important; /* White background color when scrolled */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1) !important; /* Optional: Add shadow when sticky */
	color: black !important;
}
.navbar.scrolled .navbar-nav .nav-link{
	color: black !important;
}
.navbar.scrolled .navbar-brand img {
    max-height: 86px !important;
}
header.sticky .disable-fixed .navbar-brand{
	padding: 5px !important;
}
.bg-alica{
    background: aliceblue !important;
}
.btn.btn-base-color{
	background-color: #ff822ecc !important;
	border: 1px solid #ff822ecc !important;
}
.text-base-color {
    color: #ff6600 !important;
}
.enq{
	background-color: #ff6600 !important;
	padding-top: 24px !important;
    padding-bottom: 16px !important;
}

footer{
	background: #292929 !important;
}
.abt-font{
	font-size: 3rem !important;
}
.bg-product, .blue-bg, .navbar-full-screen-menu-inner{
	background:#02365A !important;
}
a:hover{
	color: #ff822ecc !important;
}
.send:hover{
	color:white !important;
}
.feature-box-icon img{
	max-width: 55% !important;
}
.h-62px{
    height: 62px !important;
}
.prod-title{
	font-size: 30px !important;
    font-weight: 700 !important;
    line-height: 2.6rem !important;
	color: white !important;
}

.sub-title{
	font-size: 32px !important;
    font-weight: 700 !important;
    color: black !important;
    line-height: 2.6rem !important;
}

.sub-t{
	font-weight: 700 !important;
    color: black !important;
	
}
.solution{
	font-size: 19px !important;
    font-weight: 500 !important;
    color: black !important;
}
.para{
	color: black !important;
    font-size: 19px !important;
    line-height: 1.9rem !important;
}
.button{
	background-color: #ff6600 !important;
	padding: 25px 60px !important;
}
.sub-titlee{
	font-size: 32px !important;
    font-weight: 700 !important;
    color: rgb(255, 255, 255) !important;
    line-height: 2.6rem !important;
}
.buttons{
	background-color: #ff6600 !important;
	padding: 25px 60px !important;
}
.parra{
	line-height: 1.6rem !important;
	color: white !important;
}
.qstn{
	background-color: white !important;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.btwn{
	background-color: #ff6600 !important;
	border-radius: 5px 1 !important;

}
.btwn h2{
	font-size: 40px !important;
    font-weight: 600 !important;
}
.btwn{
	border-radius: 5px !important;
}
.inbt{
	margin: 66px !important;
    line-height: 5.6rem !important;
}
.tick{
	background-color: azure !important;
    border-radius: 5px !important;
	margin-bottom: 17px !important;
}

.paraht{
	height: 190px !important;
}
.hhh{
	padding: 25px 60px !important;
}

.mttt{
	background-color: #fff1dc !important;
}
.discvr{
	
}





@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1108px !important;
    }
}

.asadfg{
	background: rgb(255,102,0) !important;
background: radial-gradient(circle, rgba(255,102,0,0.5280373831775701) 0%, rgba(255,102,0,1) 100%) !important;
}

.vbnm img{
	
		max-width: 100% !important;
		height: 100% !important;
	
}
.jkl {
	background: radial-gradient(circle, #152c44db 18%, rgb(2 54 90 / 78%) 76%) !important;

padding: 70px !important;
    margin: 55px  !important;

}
.rtyy{
	padding: 100px !important;
}

.qwer{
	background: rgb(255,102,0) !important;
	background: radial-gradient(circle, rgba(255,102,0,0.5280373831775701) 0%, rgba(255,102,0,1) 100%) !important;

}

.jkl p{
	color: rgb(255, 255, 255) !important;	
}


.small-screen {
    height: 200px !important;
}
.section.half-section {
    padding-top: 85px !important;
    padding-bottom: 30px !important;
}
.pr-btn{
	background-color: #ff6600 !important;
    padding: 15px 30px !important;
	border-radius: 50px !important;
}
.pr-btn:hover{
	color: white !important;
	border: unset !important;
}